<div class="blocos-box">
  <form [formGroup]="formBlocos" *ngIf="formBlocos">
    <div class="blocos-grid">
      <div class="div">
        <div *ngIf="!altura?.pristine && altura?.errors">
          <p class="error-label" *ngIf="altura?.errors?.required">
            Altura é obrigatório*.
          </p>
        </div>

        <div class="input-box pb-3">
          <label class="set-size" for="nome">Digite a altura do bloco: </label>
          <input
            class="input-style"
            type="number"
            formControlName="altura"
            id="alturaBloco"
            placeholder="Digite a altura do bloco"
          />
        </div>

        <div class="pt-3" *ngIf="!comprimento?.pristine && comprimento?.errors">
          <p class="error-label" *ngIf="comprimento?.errors?.required">
            Comprimento é obrigatório*.
          </p>
        </div>

        <div class="input-box pb-2">
          <label class="set-size" for="email"
            >Digite o comprimento do bloco:
          </label>
          <input
            class="input-style"
            type="number"
            formControlName="comprimento"
            id="comprimentoBloco"
            placeholder="Digite o comprimento do bloco:"
          />
        </div>

        <button
          class="mt-3"
          [disabled]="!formBlocos.valid"
          (click)="calcularBlocos()"
          [ngClass]="!formBlocos.valid ? 'button-disabled' : 'button-send'"
        >
          Calcular
        </button>
      </div>

      <div class="div pb-2">
        <div class="d-flex flex-column" *ngIf="blocosUsados">
          <h2 class="set-size">A quantidade de blocos por m² será</h2>
          <span class="result-box"> {{ blocosUsados }} </span>
        </div>
      </div>

      <form [formGroup]="formMetrosQuadrados" *ngIf="formMetrosQuadrados">
        <div
          class="pt-3"
          *ngIf="!metrosQuadrados?.pristine && metrosQuadrados?.errors"
        >
          <p class="error-label" *ngIf="metrosQuadrados?.errors?.required">
            Quantidade de m² é obrigatório*.
          </p>
        </div>

        <div class="input-box pb-2">
          <label class="set-size" for="email"
            >Digite a quantidade em m² que você precisa:</label
          >
          <input
            class="input-style"
            type="number"
            formControlName="metrosQuadrados"
            id="metrosQuadradosId"
            placeholder="Digite a quantidade de m²:"
          />
        </div>

        <button
          class="mt-3"
          [disabled]="!formMetrosQuadrados.valid"
          (click)="calcularMetrosQuadrados()"
          [ngClass]="
            !formMetrosQuadrados.valid ? 'button-disabled' : 'button-send'
          "
        >
          Calcular
        </button>

        <div class="div pb-2">
          <div class="d-flex flex-column">
            <h2 class="set-size">
              A quantidade de blocos total que você precisa é:
            </h2>
            <span class="result-box"> {{ metrosQuadradosUsados }} </span>
          </div>
        </div>
      </form>
    </div>
  </form>
</div>
